.nav-categories {
  text-align: left;
  flex: 0;
  order: 1;

  ul {
    list-style-type: none;
  }

  li {
    cursor: pointer;
  }

  li.selected {
    background-color: rgb(87, 87, 206);
    color: #FFFFFF;
  }

  h2 {
    font-size: 2.125rem;
    padding: 0 1rem;
  }

  .nav-title {
    cursor: pointer;
  }

  .nav-menu {
    a {
      position: relative;
      display: block;
      padding: 1rem;
      font-size: 17px;
      font-weight: 300;
      color: #202121;
      cursor: pointer;
      background: #f4f7f6;
      border-bottom: 1px solid #E6EAEA;
      text-decoration: none;
      transition: all 0.3s ease;
    }

    a:hover {
      background-color: var(--white);
      -webkit-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
    }
  }

  .active {
    a {
      color: var(--teal);
    }
  }
}
